



@media (max-width: 600px) {
    #footerdespair{
        display: none;
    }
    #colorchange {
        color: black;
        font-weight: bold;
    }
    #coloraero{
        color:crimson;
    }
    #colordark {
        color: navy;
        font-weight: bold;
    }
  };