.logo {
    margin-right: 1rem;
}

#offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}





@media (max-width: 600px) {
    #footerdespair{
        display: none;
    }
    #colorchange {
        color: black;
        font-weight: bold;
    }
    #coloraero{
        color:crimson;
    }
    #colordark {
        color: navy;
        font-weight: bold;
    }
    #offers {
        flex-direction: column;
    }
    #offers img{
        margin: 1rem;
    }
  };